﻿@model Assignment2.Web.Models.ChangeStateModel
<span style="font-size:20px;color:red">Change Intervention State</span><br />
@using (Html.BeginForm())
    {
@Html.Label("Intervention State")
@Html.DropDownListFor(x => x.state, Model.stateItems)<br />
<input type="submit" value="Save" />
}
