﻿@{
    ViewBag.Title = "ManagerIndex";
}

<h2>Manager</h2>
<h4>Welcome @Session["Name"].ToString()</h4>
<ul>
    <li>
        @Ajax.ActionLink(
       "View all interventions you can approve",
       "ViewInterventions", "Manager",
       new AjaxOptions
       {
           UpdateTargetId = "action",
           HttpMethod = "Get"
       })
    </li>
</ul>
<div id="action">
</div>
