﻿@model Assignment2.Web.Models.InterventionModels
<p style="font-size:20px;color:red">Interventions you can approve</p>
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
    }
</style>
<script>
    function edit()
    {
        var list = document.getElementsByTagName("input");
        for (var i = 0; i < list.length; i++) {
            if (list[i].type == "checkbox" && list[i].checked) {
                var row = list[i].parentNode.parentNode;
                var cells = row.getElementsByTagName("td");
                var id = cells[0].innerHTML;
                $.ajax({
                    type: "GET",
                    url: "/Manager/ChangeInterventionState",
                    data: { ID: id },
                    success: function (data) {
                        $("#approve").html(data);
                    }
                });
                break;
            }
        }
        if (i == list.length) {
            document.getElementById("error").innerHTML = "Please select one Intervention.";
        }
        else document.getElementById("error").innerHTML = "";
    }
</script>
@if (Model.interventionModels.Count > 0)
{
    <table id="result">
        <tr>
            <th>Intervention Id</th>
            <th>Type</th>
            <th>Client</th>
            <th>Labour</th>
            <th>Cost</th>
            <th>Performed Date</th>
            <th>State</th>
            <th>Notes</th>
            <th>Remaining Life</th>
            <th>Recent Visit</th>
            <th>Select</th>
        </tr>
        @{
            int count = 1;
            foreach (var item in Model.interventionModels)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.InterventionType</td>
                    <td>@item.Client</td>
                    <td>@item.Labour</td>
                    <td>@item.Cost</td>
                    <td>@item.PerformedDate.ToShortDateString()</td>
                    <td>@item.State</td>
                    <td>@item.Notes</td>
                    <td>@item.RemainingLife</td>
                    <td>@if (item.RecentVist.HasValue) { @item.RecentVist.Value.ToShortDateString();}</td>
                    <td><input id=@count type="checkbox" onclick="selectOnlyThis(this.id)" /></td>
                </tr>
                count++;
            }
        }
    </table>
        <div style="color:red" id="error"></div>
        <input type="button" value="Edit" onclick="edit()" />
        <br />
        <div id="approve"></div>
            }
            else
            {
                <p style="color:red">You have no intervention to approve in your district.</p>
            }