﻿@model Assignment2.Web.Models.ChangeDistrictModel
<p style="font-size:20px;color:red">Change District</p>
@using (Html.BeginForm("ChangeDistrict","Accountant"))
{
    <table>
        <tr><td>Staff Name</td><td>@Html.TextBoxFor(n=>n.Name, new { @readonly = "readonly" }) </td></tr>
        <tr><td>District</td><td>@Html.DropDownListFor(d=>d.District,Model.Items)</td></tr>
    </table>
    <input type="submit" value="Save" />
}