﻿@model Assignment2.Data.TotalDistrictCostModel

<p style="font-size:20px;color:red">Each district Total Costs</p>
<table>
    <tr>
        <th>District Name</th>
        <th>Labour Hours</th>
        <th>Cost of Materials</th>
    </tr>
    @foreach (var item in Model.districtCosts)
    {
        <tr>
            <td>@item.District</td>
            <td>@item.TotalHours</td>
            <td>@item.TotalCosts</td>
        </tr>
    }
</table>
<p style="font-size:20px;color:red">Organizations grand total</p>
<table>
    <tr><th>Labour hours grand-total</th><th>Cost of materials grand-total</th></tr>
    <tr><td>@Model.LabourGrandTotal</td><td>@Model.CostGrandTotal</td></tr>
</table>