﻿@model Assignment2.Data.EngineerAverageCostsModel

<p style="font-size:20px;color:red">Engineer Average Costs</p>
<table>
    <tr>
        <th>Engineer Name</th>
        <th>Average labour Hours</th>
        <th>Average cost of Materials</th>
    </tr>
    @foreach (var item in Model.averageCostsModel)
    {
        <tr>
            <td>@item.Engineer</td>
            <td>@item.AverageHours</td>
            <td>@item.AverageCosts</td>
        </tr>
    }
</table>
