﻿@model Assignment2.Data.EngineerTotalCostsModel


<p style="font-size:20px;color:red">Engineer Total Costs</p>
<table>
    <tr>
        <th>Engineer Name</th>
        <th>Labour Hours</th>
        <th>Cost of Materials</th>
    </tr>
    @foreach (var item in Model.totalCostsModel)
    {
        <tr>
            <td>@item.Engineer</td>
            <td>@item.TotalHours</td>
            <td>@item.TotalCosts</td>
        </tr>
    }
</table>