﻿
@{
    ViewBag.Title = "AccountantIndex";
}
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
    }
</style>
<h2>Accountant</h2>
<h4>Welcome @Session["Name"].ToString()</h4>
<ul>
    <li>@Ajax.ActionLink("View all staff","ViewStaff","Accountant",new AjaxOptions
   {
       UpdateTargetId = "action",
       HttpMethod = "Get"
   })</li>
    <li><a href="#">Run Report</a>
    <ul>
        <li>@Ajax.ActionLink("Total Costs By Engineer", "EngineerTotalCosts", "Accountant", new AjaxOptions
       {
           UpdateTargetId = "action",
           HttpMethod = "Get"
       })</li>
        <li>
            @Ajax.ActionLink("Average Costs By Engineer", "EngineerAverageCosts", "Accountant", new AjaxOptions
       {
           UpdateTargetId = "action",
           HttpMethod = "Get"
       })
    </li>
        <li>
            @Ajax.ActionLink("Costs By District", "DistrictTotalCosts", "Accountant", new AjaxOptions
       {
           UpdateTargetId = "action",
           HttpMethod = "Get"
       })
        </li>
        <li>
            @Ajax.ActionLink("Monthly Costs for District", "MonthlyDistrictCost", "Accountant", new AjaxOptions
       {
           UpdateTargetId = "action",
           HttpMethod = "Get"
       })
        </li>
    </ul>
    </li>
</ul>
<div id="action"></div>

