﻿@model Assignment2.Data.MonthlyDistrictCostModel
<script>
    $("#District").change(function () {
        var district = $("#District").val();
        $.ajax({
            type: "POST",
            url: "/Accountant/MonthlyDistrictCost",
            data: { name:district },
            success: function (data) {
                $("#action").html(data);
            }
        });
    });
</script>
<p style="font-size:20px;color:red">Each district Total Costs</p>
@Html.Label("District")
@Html.DropDownListFor(d => d.District, Model.Items)
<div id="report">
    <table>
        <tr>
            <th>District Name</th>
            <th>Month</th>
            <th>Monthly Labour Hours</th>
            <th>Monthly cost of materials</th>
        </tr>
        @if (Model.model != null)
        {
            foreach (var item in Model.model)
            {
        <tr>
            <td>@Model.District</td>
            <td>@item.month</td>
            <td>@item.monthlyLabourTotal</td>
            <td>@item.monthlyCostTotal</td>
        </tr>
                
            }
        }

    </table>
</div>
