﻿@model Assignment2.Web.Models.StaffModels
<p style="font-size:20px;color:red">View Staff</p>
<script>
    function change() {
        var list = document.getElementsByTagName("input");
        for (var i = 0; i < list.length; i++) {
            if (list[i].type == "checkbox" && list[i].checked) {
                var row = list[i].parentNode.parentNode;
                var cells = row.getElementsByTagName("td");
                var name = cells[0].innerHTML;
                $.ajax({
                    type: "GET",
                    url: "/Accountant/ChangeDistrict",
                    data: { Name: name },
                    success: function (data) {
                        $("#district").html(data);
                    }
                });
                break;
            }
        }
        if (i == list.length) {
            document.getElementById("error").innerHTML = "Please select one Intervention.";
        }
        else document.getElementById("error").innerHTML = "";
    }
    
</script>
        <table id="result">
            <tr><th>Staff Id</th><th>Name</th><th>Role</th><th>Select</th></tr>
            @{
                int count = 1;
                foreach (var item in Model.staffModels)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Role</td>
                        <td>@item.District</td>
                        <td><input  id=@count type="checkbox" onclick="selectOnlyThis(this.id)" /></td>
                    </tr>
                    count++;
                }
            }
        </table>
        <div style="color:red" id="error"></div>
        <input type="button" value="Change District" onclick="change()" />
    <div id="district"></div>

