﻿@model Assignment2.Web.Models.ChangeStateModel
<span style="font-size:20px;color:red">Change Intervention State</span><br />
@if (Model.states==null)
{
    <span style="font-size:12px;color:red">Sorry, this intervention is already completed.</span>
}
else
{
using (Html.BeginForm())
    {
    @Html.Label("Intervention State")
    @Html.DropDownListFor(x => x.state, Model.stateItems)<br />
    <input type = "submit" value = "Save" />
}
}