﻿@model Assignment2.Web.Models.ClientDetailModel
<script>
    function Create()
    {
        var row = document.getElementById("clientInfo").rows[1];
        var cells = row.getElementsByTagName("td");
        var client = cells[0].innerHTML;
        $.ajax({
            type: "GET",
            url: "/Engineer/CreateIntervention",
            data: { name: client },
            success: function (data) {
                $("#interventionInfo").html(data);
            }
        });
    }
    function manage() {
        var list = document.getElementsByTagName("input");
        for (var i = 0; i < list.length; i++) {
            if (list[i].type == "checkbox" && list[i].checked) {
                var row = list[i].parentNode.parentNode;
                var cells = row.getElementsByTagName("td");
                var id = cells[0].innerHTML;
                $.ajax({
                    type: "GET",
                    url: "/Engineer/QualityManagement",
                    data: { ID: id },
                    success: function (data) {
                        $("#quality").html(data);
                    }
                });
                break;
            }
        }
        if (i == list.length) {
            document.getElementById("error").innerHTML = "Please select one Intervention.";
        }
        else document.getElementById("error").innerHTML = "";
    }
</script>
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center;
        vertical-align: middle;
    }
</style>
<p style="font-size:20px;color:red">Client Personal Detail</p>
<table id="clientInfo">
    <tr><th>Name</th><th>Location Info</th><th>District</th></tr>
    <tr>
        <td>@Model.client.Name</td><td>@Model.client.LocationInfo</td><td>@Model.client.District</td>
    </tr>
</table><input type="button" value="Create Intervention" onclick="Create()"/><br />
<div id="interventionInfo">
    <p style="font-size:20px;color:red">Client Intervention</p>
    @if (Model.interventions.interventionModels.Count > 0)
    {

        <table id="result">
            <tr>
                <th>Intervention Id</th>
                <th>Type</th>
                <th>Labour</th>
                <th>Cost</th>
                <th>Proposer</th>
                <th>Perfromed Date</th>
                <th>State</th>
                <th>Select</th>
            </tr>
            @{
                int count = 1;
                foreach (var item in Model.interventions.interventionModels)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.InterventionType</td>
                        <td>@item.Labour</td>
                        <td>@item.Cost</td>
                        <td>@item.Proposer</td>
                        <td>@item.PerformedDate.ToShortDateString()</td>
                        <td>@item.State</td>
                        <td><input style="" id=@count type="checkbox" onclick="selectOnlyThis(this.id)" /></td>
                    </tr>
                    count++;
                }
            }
        </table>
        <div style="color:red" id="error"></div>
    <input type="button" value="Quality Management" onclick="manage()" /><br />
    <div id="quality"></div>
                }
                else
                {<p style="color:red">The client does not have any associated interventions currently.</p>}
</div>