﻿@model Assignment2.Web.Models.ClientModel
<script>
    $('form').submit(function () {
        var name = $.trim($('#Name').val());
        var location = $.trim($('#LocationInfo').val());
        var bool1,bool2;
        if (name === '') {
            bool1 = false;
        }
        else bool1 = true;
        if (location === '') {
            bool2 = false;
        }
        else bool2 = true;
        if (!bool1) $('#clientname').html("<b>Please enter client name.</b>");
        else $('#clientname').html("");
        if (!bool2) $('#location').html("<b>Please enter location information.</b>");
        else $('#clientname').html("");
        if (!bool1 || !bool2) return false;
        else return true;
    });
</script>
<p style="font-size:20px;color:red">Create Client</p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <table>
            <tr>
                <td>@Html.Label("Client Name")</td>
                <td>@Html.TextBoxFor(n => n.Name, new { maxlength = 50 })<div id="clientname" style="color:red"></div></td>
            </tr>
            <tr>
                <td>@Html.Label("Location Info")</td>
                <td>@Html.TextBoxFor(l => l.LocationInfo, new { maxlength = 50 })<div id="location" style="color:red"></div></td>
            </tr>
            <tr>
                <td>@Html.Label("District")</td>
                <td>@Html.TextBoxFor(d => d.District, new { @readonly = "readonly", @Value = @Session["District"].ToString() })</td>
            </tr>
        </table>
        <input type="submit" value="Save" />
    }