﻿@model Assignment2.Web.Models.CreateInterventionModel
    <script>
 function Cancel()
    {
     var client = document.getElementById("Client").value;
        $.ajax({
            type: "POST",
            url: "/Engineer/ClientDetail",
            data: { name: client },
            success: function (data) {
                $("#action").html(data);
            }
        });
 }
 $(document).ready(function () {
     $("#Labour,#Cost").keydown(function (e) {
         if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
             (e.keyCode == 65 && (e.ctrlKey === true || e.metaKey === true)) ||
             (e.keyCode >= 35 && e.keyCode <= 40)) {
             return;
         }
         if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
             e.preventDefault();
         }
     });
 });
 $("#interventionType").change(function () {
     var type = $("#interventionType").val();
     var client = $("#Client").val();
     $.ajax({
         type: "GET",
         url: "/Engineer/CheckStateByTypeChange",
         data: {Type:type,Client:client},
         success: function (data) {
             $("#interventionInfo").html(data);
         }
     });
 });
 $("#Labour,#Cost").change(function () {
     var type = $("#interventionType").val();
     var client = $("#Client").val();
     var labour = $("#Labour").val();
     var cost = $("#Cost").val();
     $.ajax({
         type: "GET",
         url: "/Engineer/CheckStateByChangeCostOrLabour",
         data: { Type: type, Client: client,Labour:labour,Cost:cost},
         success: function (data) {
             $("#interventionInfo").html(data);
         }
     });
 });
</script>
    <p style="font-size:20px;color:red">Create Intervention</p>
    @using (Html.BeginForm("CreateIntervention","Engineer"))
    {
        @Html.AntiForgeryToken()
        <table>
            <tr>
                <td>@Html.Label("Intervention Type")</td>
                <td>
                       @Html.DropDownListFor(i => i.interventionType, Model.typeItems, new { style = "width: 600px;" })
                </td>
            </tr>
            <tr>
                <td>@Html.Label("Labour Required")</td>
                <td>@Html.TextBoxFor(x => x.Labour, new { maxlength = 20 })@Html.ValidationMessageFor(m => m.Labour, null, new { @style = "color:red;" })</td>
            </tr>
            <tr>
                <td>@Html.Label("Cost Required")</td>
                <td>@Html.TextBoxFor(x => x.Cost, new { maxlength = 20 })@Html.ValidationMessageFor(m => m.Cost, null, new { @style = "color:red;" })</td>
            </tr>
            <tr>
                <td>@Html.Label("Performed Date")</td>
                <td>@Html.EditorFor(m => m.PerformedDate,new { htmlAttributes=new { maxlength = 10 } })</td>
            </tr>
            <tr>
                <td>@Html.Label("State")</td>
                <td>@Html.DropDownListFor(x=>x.state,Model.stateItems)</td>
            </tr>
            <tr>
                <td>@Html.Label("Client")</td>
                <td>@Html.TextBoxFor(x => x.Client, new Dictionary<string, object>() { { "readonly", "true" } })</td>
            </tr>
        </table>
        
        <input type="button" value="Cancel" onclick="Cancel()" style="margin-right:10px"/>
        <input type="submit" value="Save" />
    }
