﻿
@{
    ViewBag.Title = "EngineerIndex";
}
<h2>Engineer</h2>
<h4>WelCome @Session["Name"].ToString()</h4>
<ul>
  <li>
            @Ajax.ActionLink(
"Create Client",
"CreateClient",
"Engineer",
new AjaxOptions
{
    UpdateTargetId = "action",
    HttpMethod = "Get",
            })
    </li>
    <li>@Ajax.ActionLink(
       "View clients in your district",
       "ViewClients","Engineer",
       new AjaxOptions
       {
           UpdateTargetId="action",
           HttpMethod="Get"
       })
    </li>
    <li>@Ajax.ActionLink("View interventions you have created",
       "ViewInterventions","Engineer",new AjaxOptions {
           UpdateTargetId = "action",
           HttpMethod = "Get"
       })
    </li>
</ul>
<div id="action">

</div>