﻿@model Assignment2.Web.Models.QualityManagementModel
    <script>
        $('form').submit(function () {
            var val = $('#RemainingLife').val();
            var life = new RegExp('^[0-9][0-9]?$|^100$');
            if (life.test(val)) {
                alert('correct');
            }
            else return fales;
        });
    </script>
<p style="font-size:20px;color:red">Quality Management</p>
@if (Model == null)
{
    <span style="font-size:12px;color:red">Sorry, you are not working in district now.</span>
}
else
{
using (Html.BeginForm("QualityManagement", "Engineer"))
{
    <table>
        <tr>
        <td>@Html.Label("Notes")</td>
            <td>@Html.TextAreaFor(x => x.Notes)</td>
        </tr>
        <tr>
            <td>@Html.Label("Remaining Life")</td>
            <td>@Html.TextBoxFor(x => x.RemainingLife, new { maxlength = 3 })</td>
        </tr>
        <tr>
            <td>@Html.Label("Recent Visit")</td>
            <td>@Html.EditorFor(x => x.RecentVist)</td>
        </tr>
    </table>
    <input type="submit" value="Save"/>
}
}