﻿@model Assignment2.Web.Models.InterventionModels
<p style="font-size:20px;color:red">View interventions you have created</p>
<style>
    table, th, td {
        border: 1px solid black;
        text-align: center; 
    vertical-align: middle;
    }
 </style>
<script>
    function manage() {
        var list = document.getElementsByTagName("input");
        for (var i = 0; i < list.length; i++) {
            if (list[i].type == "checkbox" && list[i].checked) {
                var row = list[i].parentNode.parentNode;
                var cells = row.getElementsByTagName("td");
                var id = cells[0].innerHTML;
                $.ajax({
                    type: "GET",
                    url: "/Engineer/QualityManagement",
                    data: { ID: id },
                    success: function (data) {
                        $("#quality").html(data);
                    }
                });
                break;
            }
        }
        if (i == list.length) {
            document.getElementById("error").innerHTML = "Please select one Intervention.";
        }
        else document.getElementById("error").innerHTML = "";
    }
    function change() {
        var list = document.getElementsByTagName("input");
        for (var i = 0; i < list.length; i++) {
            if (list[i].type == "checkbox" && list[i].checked) {
                var row = list[i].parentNode.parentNode;
                var cells = row.getElementsByTagName("td");
                var id = cells[0].innerHTML;
                var state = cells[6].innerHTML;
                $.ajax({
                    type: "GET",
                    url: "/Engineer/ChangeState",
                    data: { ID: id,State:state},
                    success: function (data) {
                        $("#quality").html(data);
                    }
                });
                break;
            }
        }
        if (i == list.length) {
            document.getElementById("error").innerHTML = "Please select one Intervention.";
        }
        else document.getElementById("error").innerHTML = "";
    }
</script>
    @if (Model.interventionModels.Count > 0)
    {
        <table id="result">
            <tr>
                <th>Intervention Id</th>
                <th>Type</th>
                <th>Client</th>
                <th>Labour</th>
                <th>Cost</th>
                <th>Performed Date</th>
                <th>State</th>
                <th>Approver</th>
                <th>Select</th>
            </tr>
            @{
                int count = 1;
                foreach (var item in Model.interventionModels)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.InterventionType</td>
                        <td>@item.Client</td>
                        <td>@item.Labour</td>
                        <td>@item.Cost</td>
                        <td>@item.PerformedDate.ToShortDateString()</td>
                        <td>@item.State</td> 
                         <td>@item.Approver</td>                    
                        <td><input id=@count type="checkbox" onclick="selectOnlyThis(this.id)" /></td>
                    </tr>
                        count++;
                    }
                }
        </table>
        <div style="color:red" id="error"></div>
        <input type="button" value="Quality Manage" onclick="manage()" style="margin-right:5px"/>
        <input type="button" value="Change State" onclick="change()" />
        <br />
        <div id="quality"></div>
    }
    else
    {
        <p style="color:red">You didn't create any Interventions yet.</p>
    }

