﻿@model Assignment2.Web.Models.ClientModels
<p style="font-size:20px;color:red">ViewClients</p>
<style>
    table, th, td {
        border: 1px solid black;
           text-align: center; 
    vertical-align: middle;
    }
</style>
<script>
    function Detail() {
        var list = document.getElementsByTagName("input");
        for (var i = 0; i < list.length; i++) {
            if (list[i].type == "checkbox" && list[i].checked) {
                var row = list[i].parentNode.parentNode;
                var cells = row.getElementsByTagName("td");
                var client = cells[0].innerHTML;
                $.ajax({
                    type: "POST",
                    url: "/Engineer/ClientDetail",
                    data:{name:client},
                    success: function (data) {
                        $("#action").html(data);
                    }
                });
                break;
            }
        }
        if (i == list.length) {
            document.getElementById("error").innerHTML = "Please select one client.";
        }
    }
</script>
    @if (Model.clientmodels.Count > 0)
    {
        <table id="result">
            <tr><th>Client Name</th><th>Select</th></tr>
            @{
                int count = 1;
                foreach (var item in Model.clientmodels)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td><input id=@count type="checkbox" onclick="selectOnlyThis(this.id)" /></td>
                    </tr>
                    count++;
                }
            }
        </table><div style="color:red" id="error"></div><br />
        <input type="button" value="Detail" onclick="Detail()"/>
                }
                else
                {
                    <p style="color:red">There are no Clients in your District.</p>
                    }
