﻿@model Assignment2.Web.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
}

<h2>ChangePassword</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, null, new { @style = "color:red;" })
    <table>
        <tr>
            <td>@Html.Label("New Password")</td> 
            <td>
                @Html.PasswordFor(x => x.NewPassword, new { maxlength = 50 })
                @Html.ValidationMessageFor(m => m.NewPassword, null, new { @style = "color:red;" })
            </td>
        </tr>
        <tr>
            <td> @Html.Label("Confirm Password")</td>
            <td>
                @Html.PasswordFor(c => c.ConfirmPassword, new { maxlength = 50 })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @style = "color:red;" })
        </td>
        </tr>
    </table>   
    <input type="button" value="Cancel" onclick="history.back()"/>
    <input type="submit" value="Save" />
}

