﻿@model Assignment2.Web.Models.LoginModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>  
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <span style="font-size:30px;text-align:center;color:white">ENET Care Intervention Monitoring System</span>
            </div>
        </div>
    </div>
    <h2>Login</h2>
    @using (Html.BeginForm("Login","Account",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, null, new { @style = "color:red;" })
        <table>
            <tr>
                <td> @Html.Label("User Name")</td>
                <td>
                    @Html.TextBoxFor(x => x.UserName, new { maxlength = 50 })
                    @Html.ValidationMessageFor(m => m.UserName, null, new { @style = "color:red;" })
                </td>
            </tr>
            <tr>
                <td> @Html.Label("Password")</td>
                <td>
                    @Html.PasswordFor(x => x.Password, new { maxlength = 50 })
                @Html.ValidationMessageFor(m => m.Password, null, new { @style = "color:red;" })
            </td>
            </tr>
        </table>
        
            <input type="submit" value="Login" />
    }
    <div class="container body-content">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Group Seed Assignment2</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>